<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <allow roles="AE Dept Administrator" />
      <allow roles="CS Dept Administrator" />
      <allow roles="EE Dept Administrator" />
      <allow roles="ME Dept Administrator" />
      <allow roles="DeptAdmin" />
      <allow roles="SuperAdmin" />
      <deny users="*" />
    </authorization>
  </system.web>
</configuration>
